body {
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: #111111;
}
body div img {
	width: 384px;
	height: 216px;
	border-radius: 25px;
}

#div1 {
	position: absolute;
	top: 25%;
	left: 15%;
	transition: 0.5s
}

#div1:hover {
	transform:scale(1.5);
	transition: 0.5s;
}

#div2 {
	position: absolute;
	top: 25%;
	left: 60%;
	transition: 0.5s
}

#div2:hover {
	transform:scale(1.5);
	transition: 0.5s;
}

#div3 {
	position: absolute;
	top: 50%;
	left: 15%;
	transition: 0.5s
}

#div3:hover {
	transform:scale(1.5);
	transition: 0.5s;
}

#div4 {
	position: absolute;
	top: 50%;
	left: 60%;
	transition: 0.5s
}

#div4:hover {
	transform:scale(1.5);
	transition: 0.5s;
}