body {
	margin: 0;
	font-family: 'Lucida Console';
	background-color: #050505;
	color: #f0f0f0;
}

.res1 {
	text-align: center;
}

.res2{
	margin-left: 90px;
}

@keyframes flicker {
    from {color: #f0f0f0;}
    to {color: #050505;}
}

#cursor{
	animation-name: flicker;
  animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

.res3{
	margin-left: 90px;
}

#foot{
	position: absolute;;
	width: 100%;
	bottom: 0px;
}

.txt{
		text-align: center;
		margin-left: 200px;
		margin-right: 200px;
		margin-top: 20px;
		font-size: 18px;
}

#download{
	position: fixed;
	padding: 35px 2px;
	left: calc(50% - 225px);
	font-size: 32px;
	font-family: 'Lucida Console';
	color: #f0f0f0;
	background-color: #050505;
	border: 5px solid #088a08;
	transition: 0.5s;
	text-decoration: none;
	text-align: center;
	outline: none;
}

#btn-text{
	padding: 40px 10px;
	text-align: center;
}

#download:hover{
	background-color: #088a08;

}
