$background-point-dark: rgba(252, 252, 252, 0.15);
$background-point-light: rgba(87, 57, 197, 0.15);
$background-main-light: #FCFCFC;
$background-main-dark: #303030;
$text-main-light: #FCFCFC;
$text-main-dark: #303030;
