@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background:    #888888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

::selection {
  background-color: black;
  color:            white;
}

body {
  a {
    text-decoration: none;
    color:           inherit;

    &:hover {
      text-decoration: none;
      color:           inherit;
      transition:      color 250ms ease;
    }
  }

  &.theme-light {
    a:hover {
      color: $text-main-hover-dark;
    }
  }

  &.theme-dark {
    a:hover {
      color: $text-main-hover-light;
    }
  }


  main {
    .section-hero {
      display:         flex;
      justify-content: center;
      align-items:     center;
      flex-flow:       column;
      min-height:      100vh;
      padding-top:     6em;
      padding-bottom:  6em;

      .hero-divider {
        width:         6em;
        height:        4px;
        border-radius: 5px;
      }

      .hero-links {
        display:         flex;
        justify-content: center;

        a {
          text-align: center;
          font-size:  2em;
        }
      }
    }

    .section-about {
      display:         flex;
      justify-content: center;
      align-items:     center;
      flex-flow:       column;
      min-height:      100vh;
      padding-top:     6em;
      padding-bottom:  6em;
    }
  }
}

@import 'background';
@import 'overlay';
